<% layout("./layouts/boilerplate") %>
<div>
<h1>Login</h1>
<form action="/login" class="needs-validation" method="POST" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <button class="login">Login</button>
</form>
<br>
</div>
<div class="card text-center">
    <div class="card-header">
        Plant-Based Nutrition
    </div>
    <div class="card-body">
      <h5 class="card-title"> Not Your Basic Avocado Toast</h5>
      <p class="card-text">
          Ingredients:

        - Toasted Sourdough
        - 1/2 Avocado
        - Benevolent Bacon </p>
        <br>
      <a href="https://store.veganessentials.com/benevolent-bacon-hickory--sage-smoked-seitan-bacon-by-sweet-earth-p4325.aspx" class="btn btn-primary">Vegan Essentials</a>
    </div>
  

