<% layout("./layouts/boilerplate") %> 

<h1><img src="https://images.unsplash.com/photo-1578909196400-59f8f8156a05?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=350&q=80"></h1>
<form action="/register" class="needs-validation" method="POST" novalidate>
  <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" required>
  </div>
  <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" required>
  </div>
  <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" required>
  </div>
  <button class="reg">Register</button>
</form>
<br>

<div class="card">
    <div class="card-header">
      Food for thought
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>3 Reminders
          <a class="typeform-share button" href="https://form.typeform.com/to/ZQY6qQaw?typeform-medium=embed-snippet" style="display:inline-block;text-decoration:none;background-color:#0445AF;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-size="100" target="_blank">Launch me </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </p>
        <br>
        <footer class="blockquote-footer">Drink plenty of water dehydration can get ugly <cite title="Source Title"></cite></footer>
      </blockquote>
    </div>
  </div>