<% layout("./layouts/boilerplate") %> 

<h1>Register</h1>
<form action="/register" class="needs-validation" method="POST" novalidate>
  <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" type="text" id="username" name="username" required>
  </div>
  <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" required>
  </div>
  <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" required>
  </div>
  <button class="reg">Register</button>
</form>
<br>

<div class="card">
    <div class="card-header">
      Quote of the day
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>